docs/contracts/reservation-email.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://travelgo.local/contracts/notification"
  xmlns="https://travelgo.local/contracts/notification"
  elementFormDefault="qualified">

  <xs:element name="reservationEmailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="correo" type="xs:string" />
        <xs:element name="nombre" type="xs:string" minOccurs="0" />
        <xs:element name="tour" type="xs:string" minOccurs="0" />
        <xs:element name="total" type="xs:decimal" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="reservationEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
